.section-container {
  display: grid;
  grid-template-columns: 18rem 1fr;
  gap: 2.5rem;
  align-items: center;
}

.photo-container img {
  width: 18rem;
  height: 18rem;
  border-radius: 1.8rem;
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.info-container p, a {
  font-size: 20px;
  color: #fff;
}

.info-container h1, h2 {
  font-size: 40px;
}

.info-container h1 {
  color: #0c0eff;
}

.info-container h2 {
  color: #fff;
  font-weight: normal;
}

.info-container h2 span {
  color: #0c0eff;
  font-weight: 700;
}

.info-buttons-container {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.download, .github{
  transition: background-color 0.3s ease;
}

.contact, .takeALook{
  border: solid 1px #4c6dff;
  color: #4c6dff;
  transition: border 0.3s ease;
}

.contact:hover, .takeALook:hover{
  border: solid 1px #2f45ff;
  color: #2f45ff;
}

.contact:active, .takeALook:active{
  border: solid 1px #2031e2;
  color: #2031e2;
}

.github {
  background-color: #111;
  height: 24px;
}

.github svg {
  height: 24px;
}

.download,
.contact,
.github {
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 0.5rem;
}

.project-status {
  display: flex;
  justify-content: center;
  padding: 10px; 
  border: 1px solid #ccc; 
  max-width: fit-content; 
  border-radius: 0.5rem; 
  text-align: center;
}
.project-status p {
  display: flex; /* Agrega esta línea */
  align-items: center; /* Agrega esta línea */
}

.point {
  width: 10px;
  height: 10px;
  background-color: #29ff06;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
  animation: glowing 1s infinite alternate; /* Agrega esta línea */
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 5px #29ff06;
  }
  100% {
    box-shadow: 0 0 20px #29ff06;
  }
}

@media screen and (max-width: 64rem) {
  .section-container {
    grid-template-columns: 100%;
  }
  .photo-container img {
    width: 16rem;
    height: 16rem;
    text-align: center;
  }
}


@media screen and (max-width: 48rem) {
  .photo-container {
    display: flex;
    justify-content: center;
  }
  .photo-container img {
    width: 12rem;
    height: 12rem;
  }
  .github, .github svg {
    height: 20px;
  }
}